<!DOCTYPE html>
<html>
<head><title>Add Student</title></head>
<body>
    <h2>Add New Student</h2>
    <form method="POST">
        Student ID: <input name="student_id"><br>
        Name: <input name="name"><br>
        Reg Date: <input name="reg_date" type="date"><br>
        Completion Date: <input name="completion_date" type="date"><br>
        Column1: <input name="column1"><br>
        Balance B/f: <input name="balance_bf"><br>
        Total Balance: <input name="total_balance"><br>
        Amount Paid: <input name="amount_paid"><br>
        Balance: <input name="balance"><br>
        <button type="submit">Add Student</button>
    </form>
</body>
</html>

